# security exceptions (necessary for PIP 1.5)
--allow-all-external

# celery
pyrabbit>=1.0.0,<1.1
celery>=3.1.9,<3.2

# scientific computing
scikit-image>=0.9.3,<0.10
openexr>=1.2.0
numconv>=2.1.1,<2.2
colormath>=1.0.8,<1.1
pypng>=0.0.16,<0.1
pyamg>=2.1.0,<2.2
matplotlib>=1.3.1,<1.4
