build-essential
cmake
cython
gfortran
git-core
goaccess
inotify-tools
ipython
ipython-notebook
jhead
libatlas-base-dev
libatlas-dev
libblas-dev
libboost-dev
libboost-filesystem-dev
libboost-system-dev
libboost-thread-dev
libeigen3-dev
libfftw3-dev
libfreetype6-dev
libgmp-dev
libjpeg-dev
liblcms
liblcms-dev
liblcms-utils
libmemcached-dev
libmpfr-dev
libopenexr-dev
libpng-dev
libqhull-dev
libsuitesparse-dev
libxml2-dev
libxslt-dev
logrotate
memcached
netcat
nginx
nodejs
npm
ntp
openssl
premake
python
python-dev
python-pip
python-setuptools
python-virtualenv
rabbitmq-server
supervisor
swig
wamerican-small
zlib1g-dev
