/data/
/backup/
/venv/
/opt/
/run/
/figures/
/synthetic/
/test-renders/
dist/
build/
.DS_Store/
*.DS_Store
*~
*.log
*.pyc
.*.xml
.*.swp
.*.swo
.*.swn
.*.tmp
.swp
.ropeproject
celerybeat-schedule
tmp.conf
pg_dump.sql.gz
release
Thumbs.db
