<footer class="footer">
	<div class="container">
		<p><a href="http://rgb.cs.cornell.edu/">Cornell Graphics and Vision Group</a></p>
		<ul class="footer-links">
			{% if iiw %}
				<li><a href="{% url 'publications' 'intrinsic' %}#download">Download</a>
				<li class="muted">&middot;</li>
				<li><a href="{% url 'publications' 'intrinsic' %}#acks">Acknowledgements</a>
			{% else %}
				<li><a href="{% url 'publications' 'opensurfaces' %}#download">Download</a>
				<li class="muted">&middot;</li>
				<li><a href="{% url 'publications' 'opensurfaces' %}#acks">Acknowledgements</a>
			{% endif %}
		</ul>
	</div>
</footer>
