{# Ask 'are you sure?' #}

<div class="modal hide fade" id="modal-areyousure" tabindex="-1" role="dialog" aria-labelledby="modal-areyousure-label" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="modal-areyousure-label">Are you sure?</h3>
	</div>
	<div class="modal-body">
		<p id="modal-areyousure-message"></p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true" id="modal-areyousure-no">No</button>
		<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="modal-areyousure-yes">Yes</button>
	</div>
</div>
