{% comment %}
	Controls for polygon segmentation
{% endcomment %}

<div id="ui-controls" class="ui-controls-top">
	<span class="btn-group" data-toggle="buttons-radio">
		<button id='btn-draw' type="button" class="btn" disabled="disabled">
			<i class="icon-pencil"></i> Draw (D)</button>
		<button id='btn-edit' type="button" class="btn" disabled="disabled">
			<i class="icon-move"></i> Adjust (A)</button>
	</span>
	<span class="btn-group">
		<button id='btn-undo' type="button" disabled="disabled" class="btn">
			<i class="icon-circle-arrow-left"></i> Undo (Ctrl-Z)</button>
		<button id='btn-redo' type="button" disabled="disabled" class="btn">
			<i class="icon-circle-arrow-right"></i> Redo (Ctrl-Y)</button>
	</span>
	<span class="btn-group">
		<button id='btn-close' type="button" disabled="disabled" class="btn">
			<i class="icon-ok-sign"></i> Close (Right-click)</button>
		<button id='btn-delete' type="button" disabled="disabled" class="btn">
			<i class="icon-remove"></i> Delete (Delete)</button>
	</span>
	<span class="btn-group">
		<button id='btn-zoom-reset' type="button" disabled="disabled" class="btn">
			<i class="icon-resize-small"></i> Reset Zoom (Esc)</button>
	</span>

{% if extra_ui_controls %}
	{% include extra_ui_controls %}
{% endif %}

{% if instructions %}
	<span class="pull-right">
		<a href="#modal-instructions" role="button" class="btn btn-warning" data-toggle="modal">Instructions</a>
	</span>
{% endif %}
</div>
