.chart-row { margin-top: 20px; margin-bottom: 20px; }
.reset { margin-left: 10px; margin-top: -11px; }
.chart-title { font-size: 20px }
.chart-subtitle { margin-top: 10px; color: #444; }
.filter-count { font-weight: bold; color: #914646;}
.total-count { font-weight: bold; color: #914646;}
#data-count { float: right; }
#data-count .reset { margin-top: 0px; }

table { margin-top: 10px; table-layout: fixed; }
table th, table td { overflow: hidden; }
