{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Change password" %}{% endblock %}
{% block header %}
<div class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>Change password</h1>
	</div>
</div>
{% endblock %}

{% block content %}
    <form method="POST" action="">
		{% comment %}<legend>{% trans "Change password" %}</legend>{% endcomment %}
        <fieldset>
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
