<h2 style="margin-top:30px">Human reflectance judgements</h2>
{% if photo.in_iiw_dataset %}
	{% include "intrinsic/judgements_legend.html" %}

	{% with photo.intrinsic_densities as intrinsic_densities %}
	{% if intrinsic_densities %}
		{% for min_separation, density in intrinsic_densities.iteritems %}
		<div class="row-fluid" style="margin-top:20px">
			<div class="span12">
				<div class="thumbnail">
					<div class="overlay-wrapper">
						{% include "photos/intrinsic_display.svg" with entry=photo large="True" %}
						<div class="overlay-container">
							<p class="overlay-content">Point separation: {{ min_separation|floatformat:2 }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	{% else %}
	<p>No intrinsic points are available.</p>
	{% endif %}
	{% endwith %}
{% else %}
	<p>This photo is not part of the <a href="{% url "publications" "intrinsic" %}" target="_blank">Intrinsic Images in the Wild</a> dataset.</p>
{% endif %}
