{% extends "analytics/base.html" %}
{% load compress %}

{% block content %}{{ block.super }}

<div class="hidden" id="csv-url" data-url="{{ csv_url }}">
	<div class="row chart-row">
		<div class="span12">
			<div id="time-s-chart">
				<span class="chart-title">Time (s)</span>
				<button type=button id="time-s-reset" class="reset btn" style="display:none;">reset</button>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row chart-row">
		<div class="span12">
			<div id="num-vertices-chart">
				<span class="chart-title">Vertex count</span>
				<button type=button id="num-vertices-reset" class="reset btn" style="display:none;">reset</button>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row chart-row">
		<div class="span12">
			<div id="planar-score-chart">
				<span class="chart-title">Planarity CUBAM score</span>
				<button type=button id="planar-score-reset" class="reset btn" style="display:none;">reset</button>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top:20px">
		<div class="span12">
			<div id="data-count">
				<code><span class="filter-count"></span></code> selected out of <code><span class="total-count"></span></code> {{ across }}.
				<button type=button id="reset-all" class="reset btn">reset all</button>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block scripts %}{{ block.super }}
{% compress js %}
<script type="text/coffeescript" src="{{ STATIC_URL }}js/analytics/material_shapes.coffee"></script>
{% endcompress %}
{% endblock %}
